extends _layout

block content
  h1= title
    p Welcome to #{title}

    div#app

    script(src='https://cdn.jsdelivr.net/rxjs/4.1.0/rx.all.js')
    script(src='https://cdn.jsdelivr.net/rxjs-dom/7.0.3/rx.dom.js')
    script(src='http://localhost:8080/static/client.bundle.js')
